---
import Layout from "@layouts/Docs.astro";
import Icon from "../../components/Icon/icon.astro";
import icons from "../../data/icons.json";
---

<Layout>
  <h1>Icons</h1>
  <p>
    Icons are a great way to add visual elements to your page. They can be used
    to represent actions, objects, and more. Here are some of the icons
    available in the design system.
  </p>

  <form>
    <input
      type="text"
      name="search"
      id="search-input"
      placeholder="Buscar icono"
    />
  </form>

  <div class="component-container icons">
    {
      icons.map((icon) => (
        <span class="icon-item">
          <Icon name={icon} />
          <small>{icon}</small>
        </span>
      ))
    }
  </div>

  <span class="copy-alert">Icon copied</span>
</Layout>

<style is:inline>
  input {
    width: 100%;
    padding: 0.6rem 0.8rem 0.6rem 2.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%238890a0'%3E%3Cpath fill-rule='evenodd' d='M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z' clip-rule='evenodd' /%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: left 0.8rem center;
    background-size: 20px;
  }
  input:focus {
    outline: none;
  }
  input::placeholder {
    color: #ccc;
  }
  .component-container.icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.5rem;
    padding: 2rem;
  }

  .component-container.icons span {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
  }

  .component-container.icons span:hover {
    background-color: #f4f4f4;
  }

  .component-container.icons small {
    color: #8890a0;
  }
  .copy-alert {
    opacity: 0;
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: #f4f4f4;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
  }
  .copy-alert.copied {
    opacity: 1;
    display: block;
  }
</style>

<script is:inline>
  const icons = document.querySelectorAll(".icon-item");
  const copyAlert = document.querySelector(".copy-alert");

  icons.forEach((icon) => {
    icon.addEventListener("click", () => {
      const name = icon.querySelector(".icon").getAttribute("id");
      navigator.clipboard.writeText(`<Icon name="${name}" />`);
      copyAlert.classList.add("copied");

      setTimeout(() => {
        copyAlert.classList.remove("copied");
      }, 2000);
    });
  });

  const searchInput = document.querySelector("#search-input");
  const iconItems = document.querySelectorAll(".icon-item");

  searchInput.addEventListener("input", (e) => {
    const query = e.target.value.toLowerCase();

    iconItems.forEach((item) => {
      const name = item.querySelector("small").textContent.toLowerCase();

      if (name.includes(query)) {
        item.style.display = "flex";
      } else {
        item.style.display = "none";
      }
    });
  });
</script>
