@use "../../styles/settings/variables";

.input {
    display: flex;
    flex-direction: column;
    width: 100%;

    svg {
        position: absolute;
        width: variables.$icon-size-md;
        height: variables.$icon-size-md;
        right: variables.$spacing-md;
        top: 50%;
        transform: translateY(-50%);
    }

    &__label {
        font-size: variables.$fs-body-sm;
        margin-bottom: variables.$spacing-xs;
        color: var(--text-color);
        line-height: 1;
    }

    &__wrapper {
        position: relative;
    }

    &__control {
        background-color: transparent;
        padding: variables.$spacing-md;
        border: 2px solid var(--border-color);
        border-radius: variables.$br-input;
        font-size: variables.$fs-body;
        width: 100%;

        &::placeholder {
            color: var(--text-muted-color);
            font-weight: 300;
        }

        &:focus {
            border-color: var(--border-color);
            outline: none;
        }
    }

    &__helper {
        font-size: variables.$fs-body-sm;
        color: var(--text-muted-color);
        margin-top: variables.$spacing-xs;
        line-height: 1;
    }

    &--error {
        .input__control {
            border-color: var(--error-color);
            padding-right: variables.$spacing-xl;

            &::placeholder {
                color: var(--error-color);
            }
        }

        svg {
            stroke: var(--error-color);
        }
    }

    &--success {
        .input__control {
            border-color: var(--success-color);
            padding-right: variables.$spacing-xl;
        }

        svg {
            stroke: var(--success-color);
        }
    }
}