---
import "./button.scss";

interface Props {
  tag: "a" | "button";
  href?: string;
  type?: "primary" | "alternative" | "ghost";
}

const { tag, href, type = "primary" } = Astro.props;
---

{
  tag === "a" && (
    <a
      href={href}
      class:list={[
        "button",
        { "button--primary": type === "primary" },
        { "button--alternative": type === "alternative" },
        { "button--ghost": type === "ghost" },
      ]}
    >
      <slot />
    </a>
  )
}{
  tag === "button" && (
    <button
      class:list={[
        "button",
        { "button--primary": type === "primary" },
        { "button--alternative": type === "alternative" },
        { "button--ghost": type === "ghost" },
      ]}
    >
      <slot />
    </button>
  )
}
