@use "../../styles/settings/variables";

.button {
    --button-color: #{variables.$text-inverted-color};
    --button-primary-bg: #{variables.$primary-color};
    --button-primary-hover-bg: #{variables.$primary-dark-color};
    --button-alternative-bg: #{variables.$alternate-color};
    --button-alternative-hover-bg: #{variables.$alternate-dark-color};
}

.button {
    display: inline-block;
    text-decoration: none;
    color: var(--button-color);
    padding: variables.$spacing-md variables.$spacing-xl;
    border-radius: variables.$br-button;
    border-style: solid;
    border-width: 2px;
    line-height: 1;
    letter-spacing: 0.5px;

    &:hover {
        color: var(--button-color);
    }

    &:focus {
        outline: none;
        color: var(--button-color);
    }

    &--primary {
        background-color: var(--button-primary-bg);
        border-color: var(--button-primary-bg);

        &:hover {
            background-color: var(--button-primary-hover-bg);
            border-color: var(--button-primary-hover-bg);
        }
    }

    &--alternative {
        background-color: var(--button-alternative-bg);
        border-color: var(--button-alternative-bg);

        &:hover {
            background-color: var(--button-alternative-hover-bg);
            border-color: var(--button-alternative-hover-bg);
        }
    }

    &--ghost {
        background-color: transparent;
        border-color: var(--border-color);
        color: var(--border-color);

        &:hover {
            border-color: var(--black-color);
            color: var(--black-color);
        }

        &:focus {
            border-color: var(--black-color);
            color: var(--black-color);
        }
    }
}