@use "../../styles/settings/variables";

.button {
    display: inline-block;
    text-decoration: none;
    color: var(--text-inverted-color);
    padding: variables.$spacing-md variables.$spacing-xl;
    border-radius: variables.$br-button;
    border-style: solid;
    border-width: 2px;
    line-height: 1;
    letter-spacing: 0.5px;

    &:hover {
        color: var(--text-inverted-color);
    }

    &:focus {
        outline: none;
        color: var(--text-inverted-color);
    }

    &--primary {
        background-color: var(--primary-color);
        border-color: var(--primary-color);

        &:hover {
            background-color: var(--primary-dark-color);
            border-color: var(--primary-dark-color);
        }
    }

    &--alternative {
        background-color: var(--alternate-color);
        border-color: var(--alternate-color);

        &:hover {
            background-color: var(--alternate-dark-color);
            border-color: var(--alternate-dark-color);
        }
    }

    &--ghost {
        background-color: transparent;
        border-color: var(--border-color);
        color: var(--text-color);

        &:hover {
            background-color: var(--whiteish-color);
            border-color: var(--border-color);
            color: var(--text-color);
        }

        &:focus {
            color: var(--text-color);
        }
    }
}