@use "../settings/variables";

.bg-primary {
    background-color: variables.$primary-color;
}

.bg-alternative {
    background-color: variables.$alternate-color;
}

.bg-highlight {
    background-color: variables.$highlight-color;
}

.bg-dark {
    background-color: variables.$background-dark-color;
}

.bg-darker {
    background-color: variables.$background-darker-color;
}

.bg-light {
    background-color: variables.$background-light-color;
}

.bg-lighter {
    background-color: variables.$background-lighter-color;
}