---
import Layout from "@layouts/Layout.astro";
import "./home.scss";
---

<Layout title="Home" bodyClass="home">
  <main class="container">
    <h1>Home page</h1>
  </main>
</Layout>

<script src="./home.js"></script>
