@use "../settings/variables";

body {
    color: var(--text-color);
    font-family: variables.$font-family;
    font-size: variables.$fs-body;
    background-color: var(--background-body);
    line-height: 1.8;
}