@use "../settings/variables";

h1,
h2,
h3,
h4 {
    font-weight: 600;
    line-height: 1.13;
    margin: 0;
}

h1 {
    font-size: variables.$fs-title-xl;
}

h2 {
    font-size: variables.$fs-title-lg;
}

h3 {
    font-size: variables.$fs-title-md;
}

h4 {
    font-size: variables.$fs-title-sm;
}