---
import Button from "@components/Button/button.astro";
import Input from "@components/Input/input.astro";
import "@styles/index.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <title>Design System</title>
  </head>
  <body>
    <main class="container" style="margin-bottom:8rem;">
      <h1>Design System</h1>

      <div
        style="display:grid;grid-template-columns: 1fr 2fr;gap:3rem;align-items:flex-start;margin-top:5rem;"
      >
        <div>
          <h2>Colors</h2>
        </div>

        <div>
          <div style="display:flex;gap:1rem;">
            <div>
              <span
                class="is-block bg-primary"
                style="width:120px;height:120px;"
              >
              </span>
              <small class="is-muted">#d0315d</small>
            </div>
            <div>
              <span
                class="is-block bg-alternative"
                style="width:120px;height:120px;"
              >
              </span>
              <small class="is-muted">#5E48E8</small>
            </div>
            <div>
              <span
                class="is-block bg-highlight"
                style="width:120px;height:120px;"
              >
              </span>
              <small class="is-muted">#8CE0F3</small>
            </div>
          </div>

          <div style="display:flex;gap:1rem;margin-top:3rem;">
            <div>
              <span class="is-block bg-dark" style="width:120px;height:70px;">
              </span>
              <small class="is-muted">#0a0a0a</small>
            </div>
            <div>
              <span class="is-block bg-darker" style="width:120px;height:70px;">
              </span>
              <small class="is-muted">#3a3a3a</small>
            </div>
            <div>
              <span class="is-block bg-light" style="width:120px;height:70px;">
              </span>
              <small class="is-muted">#767676</small>
            </div>
            <div>
              <span
                class="is-block bg-lighter"
                style="width:120px;height:70px;"
              >
              </span>
              <small class="is-muted">#a3a3a3</small>
            </div>
          </div>
        </div>
      </div>

      <div
        style="display:grid;grid-template-columns: 1fr 2fr;gap:3rem;align-items:flex-start;margin-top:5rem;"
      >
        <div>
          <h2>Typography</h2>
        </div>

        <div style="display:grid;gap:1rem;">
          <span style="display:flex;gap:2rem;align-items:baseline;">
            <small class="is-muted" style="width:40px;">H1</small>
            <h1>Heading 1</h1>
          </span>
          <span style="display:flex;gap:2rem;align-items:baseline;">
            <small class="is-muted" style="width:40px;">H2</small>
            <h2>Heading 2</h2>
          </span>
          <span style="display:flex;gap:2rem;align-items:baseline;">
            <small class="is-muted" style="width:40px;">H3</small>
            <h3>Heading 3</h3>
          </span>
          <span style="display:flex;gap:2rem;align-items:baseline;">
            <small class="is-muted" style="width:40px;">H4</small>
            <h4>Heading 4</h4>
          </span>
          <span style="display:flex;gap:2rem;align-items:baseline;">
            <small class="is-muted" style="width:40px;">P</small>
            <p>Paragraph</p>
          </span>
          <span style="display:flex;gap:2rem;align-items:baseline;">
            <small class="is-muted" style="width:40px;">SMALL</small>
            <small>Paragraph</small>
          </span>

          <span style="display:flex;gap:2rem;align-items:baseline;">
            <small class="is-muted" style="width:40px;">LIST</small>
            <ul class="ui-list">
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>
            <ul class="ui-list ui-list--horizontal">
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>
          </span>
        </div>
      </div>

      <div
        style="display:grid;grid-template-columns: 1fr 2fr;gap:3rem;align-items:flex-start;margin-top:5rem;"
      >
        <div>
          <h2>Buttons</h2>
        </div>

        <div>
          <div
            style="padding:20px;border:dashed 1px #5E48E8;border-radius:8px;display:inline-grid;grid-template-columns: 1fr 1fr 1fr;gap:20px;align-items:flex-start;"
          >
            <div
              style="display:flex;flex-direction:column;align-items:flex-start;gap:1rem;"
            >
              <small class="is-muted">Primary</small>
              <Button tag="a" href="#" type="primary">Button</Button>
              <small class="is-muted">Primary disabled</small>
              <Button tag="a" href="#" type="primary" disabled>Button</Button>
            </div>

            <div
              style="display:flex;flex-direction:column;align-items:flex-start;gap:1rem;"
            >
              <small class="is-muted">Alternative</small>
              <Button tag="a" href="#" type="alternative">Button</Button>
              <small class="is-muted">Alternative disabled</small>
              <Button tag="a" href="#" type="alternative" disabled>
                Button
              </Button>
            </div>

            <div
              style="display:flex;flex-direction:column;align-items:flex-start;gap:1rem;"
            >
              <small class="is-muted">Secondary</small>
              <Button tag="a" href="#" type="secondary">Button</Button>
              <small class="is-muted">Secondary disabled</small>
              <Button tag="a" href="#" type="secondary" disabled>
                Button
              </Button>
            </div>
          </div>
        </div>
      </div>

      <div
        style="display:grid;grid-template-columns: 1fr 2fr;gap:3rem;align-items:flex-start;margin-top:5rem;"
      >
        <div>
          <h2>Forms</h2>
        </div>

        <div>
          <div
            style="padding:20px;border:dashed 1px #5E48E8;border-radius:8px;display:grid;grid-template-columns: 1fr 1fr;gap:20px;align-items:flex-start;"
          >
            <div>
              <Input
                name="input"
                label="Label"
                placeholder="Placeholder"
                helperText="Helper text"
              />
            </div>
            <div>
              <Input
                name="input-error"
                label="Label"
                placeholder="Placeholder"
                helperText="Helper text"
                status="error"
              />
            </div>
            <div>
              <Input
                name="input-success"
                label="Label"
                placeholder="Placeholder"
                helperText="Helper text"
                status="success"
              />
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
