$_camellia-rose: #d0315d;
$_maroon-light: #a61442;
$_purplish-blue: #5E48E8;
$_blue-purple: #5028C6;
$_nero: #0a0a0a;
$_fiftieth-shade-of-grey: #3a3a3a;
$_brainstem-grey: #767676;
$_doctor: #a3a3a3;
$_white: #FFFFFF;
$_tokiwa-green: #007B40;
$_vivaldi-red: #F03D3E;
$_placebo-red: #f1b5b5;

// Variables
$primary-color: $_camellia-rose;
$primary-dark-color: $_maroon-light;
$alternate-color: $_purplish-blue;
$alternate-dark-color: $_blue-purple;
$success-color: $_tokiwa-green;
$error-color: $_vivaldi-red;
$white-color: $_white;

$background-dark-color: $_nero;
$background-light-color: $_brainstem-grey;

$text-color: $_nero;
$text-inverted-color: $_white;
$text-muted-color: $_brainstem-grey;

$border-color: $_brainstem-grey;