$_camellia-rose: #d0315d;
$_purplish-blue: #5E48E8;
$_black: #0a0a0a;
$_white: #FFFFFF;

// Variables
$primary-color: $_camellia-rose;
$primary-dark-color: darken($primary-color, 5%);

$alternate-color: $_purplish-blue;
$alternate-dark-color: darken($alternate-color, 5%);

$black-color: $_black;
$dark-color: lighten($_black, 20%);
$light-color: darken($_white, 20%);
$white-color: $_white;

$text-color: $_black;
$text-inverted-color: $_white;
$text-muted-color: $light-color;

$border-color: $light-color;