$icon-size-base: 24;

$icon-size-sm: calc(0.75 * $icon-size-base) + px;
$icon-size-md: calc(1 * $icon-size-base) + px;
$icon-size-lg: calc(1.5 * $icon-size-base) + px;
$icon-size-xl: calc(2 * $icon-size-base) + px;